<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Mock system</title>
</head>
<body>
    <div class="header">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='zbmed_logo.png') }}" alt="Icon" class="icon"></a>
        <button class="login-button">Login</button>
    </div>

    <div class="search">
    <form id="queryForm" action="{{ url_for('search_query') }}" method="GET">
            <input type="text" id="queryInput" class="search-bar" name="query" placeholder="Enter a PMID...">
            <button type="submit" class="login-button">Get Similar Articles</button>
        </form>
    </div>

    {% if error_message %}
    <div class="error-message">
        <p>{{ error_message }}</p>
    </div>

    {% else %}
   <div class="hits-container">
        <div class="search-text">
            <div>
                <button class="abstract-button" onclick="toggleContent(this)">Read Article <span>&#8594;</span> </button>
                <p class="title" style="display: none;"><strong>Title:</strong><br>{{ title }}</p>
                <div class="abstract" style="display: none;">
                    <p><strong>Abstract:</strong><br>{{ abstract }}</p>
                </div>
            </div>
            Search results for {{query}}<br>
            <p>Result {{ start_index + 1}} - {{ end_index}} of total 60</p>
        </div>

        <div class="pagination">
            <a href="{{ url_for('search_query', query=query, page=prev_page) }}" class="prev">&laquo;</a>
            {% for num in range(page - 1, page + 3) %}
            {% if num > 0 and num <= total_pages %}
            <a href="{{ url_for('search_query', query=query, page=num) }}" class="page">{{ num }}</a>
            {% endif %}
            {% endfor %}
            {% if next_page %}
            <a href="{{ url_for('search_query', query=query, page=next_page) }}" class="next">&raquo;</a>
            {% endif %}
        </div>

        {% for hit in content %}
        <div class="hit-box">
            <div class="left-column">
                <input type="checkbox" id="hit{{ loop.index }}" class="checkbox">
                <label for="hit{{ loop.index }}" class="index">{{ hit[3] }}</label>
            </div>
            <div class="right-column">
            <h2><a href="{{ url_for('log_queries', query=hit[0]) }}" class="query_link">{{ hit[1] }}</a></h2>
            <p><strong>PMID:</strong><br>{{ hit[0] }}</p>
            <!-- <p><strong>Relevance:</strong><br>{{ hit[4] }}</p> -->
            <p class="abstract"><strong>Abstract:</strong><br>{{ hit[2] }}</p>
            </div>
        </div>
        {% endfor %}
   </div>
   {% endif %}
</form>
</body>
</html>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

$(document).ready(function() {
    $(".query_link").click(function(e) {
        // e.preventDefault(); // Prevent default link behavior
        $(this).closest('.hit-box').toggleClass("expanded");
    });
});

function toggleContent(button) {
    var titleParagraph = button.nextElementSibling;
    var abstractDiv = titleParagraph.nextElementSibling;

    if (titleParagraph.style.display === 'none') {
        titleParagraph.style.display = 'block';
        abstractDiv.style.display = 'block';
        button.textContent = 'Hide Article';
    } else {
        titleParagraph.style.display = 'none';
        abstractDiv.style.display = 'none';
        button.textContent = 'Read Article';
    }
}

</script>


