<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Mock System</title>
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='zbmed_logo.png') }}" alt="Icon" class="icon">
        <button class="login-button">Login</button>
    </div>

    <div class="search">
    <!-- <h1>Mock Recommendation System</h1> -->
    <form action="{{ url_for('search_query') }}" method="GET">
            <input type="text" class="search-bar" name="query" placeholder="Enter a PMID...">
            <button type="submit" class="login-button">Get Similar Articles</button>
        </form>
    </div>

    <div class="text">
        Welcome to our Mock Recommendation System!
        <br><br>
        This recommendation system is designed for internal learning purposes to understand the STELLA architecture. This system utilizes the RELISH corpus and provides similar articles with the order of relevancy as per the RELISH Database. Our aim is to incorporate the STELLA framework on top of it and gain insights into its integration for future recommendation systems in production.    
    </div>

    <footer>
        <p>&copy; 2024 Mock Recommendation System. All rights reserved.</p>
    </footer>
</body>
</html>